attrs==25.4.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
iniconfig==2.3.0
jsonlines==4.0.0
kagglehub==1.0.0
kagglesdk==0.1.15
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pluggy==1.6.0
protobuf==6.33.5
Pygments==2.19.2
pytesseract==0.3.13
pytest==9.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
soupsieve==2.8.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
